<h1><%= @restaurant.name %></h1>

<h3>General info:</h3>
<ul>
  <li><%= @restaurant.category %></li>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.phone_number %></li>
</ul>

<%= link_to 'Back to main page', restaurants_path  %>

<h3>Reviews:</h3>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
  <% end %>
</ul>

<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>


